<div class="row justify-content-center">
    <div class="col-6">
        <span class="text-info">@ViewBag.StatusMessage</span>
        <a asp-action="Login" class="btn btn-success">Giriş için Tıklayınız</a>
    </div>
</div>