@model ResetPasswordViewModel
@{ Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Şifre Oluştur";
}

<body class="ss_login_bg">
    <section class="s_login wow fadeIn">
        <div class="s_reset ss_box_bg">
            <a asp-controller="Home" asp-action="Index"> <img src="~/user-assets/images/svg/logo1.svg" class="img-fluid" alt="logo" /></a>
            <div class="text-info">@TempData["Message"]</div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <div class="s_heading">
                <h2>Şifre <span>Sıfırla</span></h2>
                <p>Yeni şifrenizi oluşturup onaylayın</p>
            </div>
            <form method="post" asp-controller="Account" asp-action="ConfirmResetPassword">
                <input type="hidden" value="@ViewBag.Code" id="Code" name="Code" />
                <input type="hidden" value="@ViewBag.UserId" id="UserId" name="UserId" />
                <div class="s_input">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="s_input">
                    <label asp-for="ConfirmNewPassword"></label>
                    <input asp-for="ConfirmNewPassword" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="s_jump_page">
                    <button type="submit" class="ss_btn submitForm">Onayla</button>
                    <a asp-controller="Account" asp-action="Login" class="login_anchor">Oturum Aç</a>
                    <div class="response"></div>
                </div>
            </form>
        </div>
    </section>



</body>
