@model UserProfileViewModel

@{ ViewBag.Title = $"{Model.Name} {Model.Surname} Profil Sayfası"; }
<!--====== Shoping Checkout Start  ======-->
<section class="ss_index_one">
    <div class="container-fluid">
        <div class="user-actions mb-40">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        @*--------Partialla---------*@
        <div class="ss_breadcrumb text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Profil Güncelleme</h1>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Giriş</a><span> / Profil Güncelleme</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*--------Partialla---------*@

        <form method="post" asp-controller="Account" asp-action="Profile">
            <div class="row">
                <div class="col-lg-12">
                    <div class="billing-details">
                        <h3 class="title">Profil Güncelleme</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Surname"></label>
                                    <input asp-for="Surname" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="payment-box mt-30">
                                    <input type="submit" class="main-btn" value="Güncelle" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>