
@model RegisterViewModel

@{ Layout = null;}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="~/user-assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/fonts.css" />
    <link rel="stylesheet" href="~/user-assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/user-assets/css/swiper.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/animate.css" />
    <link rel="stylesheet" href="~/user-assets/css/style.css" />
    <!--=== Favicon Link ===-->
    <link rel="shortcut icon" type="image/png" href="~/user-assets/images/fav-icon.png">
</head>

<body class="ss_login_bg">
    <section class="s_login">
        <div class="s_signup ss_box_bg">

            <a asp-controller="Home" asp-action="Index"> <img src="~/user-assets/images/svg/logo1.svg" class="img-fluid" alt="logo" /></a>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <form method="post" asp-controller="Account" asp-action="Register">

                <div class="s_input">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <input type="text" placeholder="Kullanıcı Adı" name="UserName" id="UserName" class="require" />
                </div>

                <div class="s_input">
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <input type="text" placeholder="Ad" name="Name" id="Name" class="require" />
                </div>

                <div class="s_input">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                    <input type="text" placeholder="Soyad" name="Surname" id="Surname" class="require" />
                </div>
                <div class="s_input">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <input type="text" name="Email" id="Email" placeholder="E-Posta" class="require" data-valid="Email" data-error="Email should be valid." />
                </div>
                <div class="s_input">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input type="password" placeholder="Şifre" name="Password" id="Password" class="require" />
                </div>
                <div class="s_input">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <input type="password" name="ConfirmPassword" placeholder="Şifre Tekrar" class="require" />
                </div>
                <div class="s_jump_page">
                    <button type="submit" class="ss_btn submitForm">Kayıt Ol</button>
                    <a asp-controller="Account" asp-action="Login" class="login_anchor">Oturum Aç</a>
                    <div class="response"></div>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <!--===script start===-->
        <script src="~/user-assets/js/jquery.min.js"></script>
        <script src="~/user-assets/js/bootstrap.min.js"></script>
        <script src="~/user-assets/js/jquery.magnific-popup.min.js"></script>
        <script src="~/user-assets/js/isotope.pkgd.min.js"></script>
        <script src="~/user-assets/js/swiper.min.js"></script>
        <script src="~/user-assets/js/wow.min.js"></script>
        <script src="~/user-assets/js/script.js"></script>
    </footer>
</body>
</html>