
@model RegisterViewModel

@{ Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Kayıt Ol";
}
<body class="ss_login_bg">
    <section class="s_login">
        <div class="s_signup ss_box_bg">

            <a asp-controller="Home" asp-action="Index"> <img src="~/user-assets/images/svg/logo1.svg" class="img-fluid" alt="logo" /></a>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <form method="post" asp-controller="Account" asp-action="Register">

                <div class="s_input">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <input type="text" placeholder="Kullanıcı Adı" name="UserName" id="UserName" class="require" />
                </div>

                <div class="s_input">
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <input type="text" placeholder="Ad" name="Name" id="Name" class="require" />
                </div>

                <div class="s_input">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                    <input type="text" placeholder="Soyad" name="Surname" id="Surname" class="require" />
                </div>
                <div class="s_input">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <input type="text" name="Email" id="Email" placeholder="E-Posta" class="require" data-valid="Email" data-error="Email should be valid." />
                </div>
                <div class="s_input">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input type="password" placeholder="Şifre" name="Password" id="Password" class="require" />
                </div>
                <div class="s_input">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <input type="password" name="ConfirmPassword" placeholder="Şifre Tekrar" class="require" />
                </div>
                <div class="s_jump_page">
                    <button type="submit" class="ss_btn submitForm">Kayıt Ol</button>
                    <a asp-controller="Account" asp-action="Login" class="login_anchor">Oturum Aç</a>
                    <div class="response"></div>
                </div>
            </form>
        </div>
    </section>
 </body>