
@model RegisterViewModel

@{ ViewBag.Title = "Kayıt Ol"; }

@{ Layout = null;}


<head>

    <link rel="stylesheet" href="~/user-assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/fonts.css" />
    <link rel="stylesheet" href="~/user-assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/user-assets/css/swiper.min.css" />
    <link rel="stylesheet" href="~/user-assets/css/animate.css" />
    <link rel="stylesheet" href="~/user-assets/css/style.css" />
    <!--=== Favicon Link ===-->
    <link rel="shortcut icon" type="image/png" href="~/user-assets/images/fav-icon.png">

</head>
<body class="ss_login_bg">
    <section class="s_login">
        <div class="s_signup ss_box_bg">

            <a asp-controller="Home" asp-action="Index"> <img src="~/user-assets/images/svg/logo1.svg" class="img-fluid" alt="logo" /></a>
            <form>
                <div class="s_input">
                    <input type="text" placeholder="Kullanıcı Adı" name="full_name" id="full_name" class="require" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>

                <div class="s_input">
                    <input type="text" placeholder="Ad" name="full_name" id="full_name" class="require" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>

                <div class="s_input">
                    <input type="text" placeholder="Soyad" name="full_name" id="full_name" class="require" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>
                <div class="s_input">
                    <input type="text" name="email" id="email" placeholder="E-Posta" class="require" data-valid="email" data-error="Email should be valid." />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>
                <div class="s_input">
                    <input type="password" placeholder="Şifre" name="password" id="password" class="require" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>
                <div class="s_input">
                    <input type="password" name="password" placeholder="Şifre Tekrar" class="require" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path class="cls-red" d="M1683.01,874.054a1.125,1.125,0,1,0,0,2.249A1.125,1.125,0,0,0,1683.01,874.054Zm10.47,3.985a3.834,3.834,0,0,0,.01-3.886l-7.09-12.2a3.918,3.918,0,0,0-6.78,0l-7.09,12.21a3.83,3.83,0,0,0,.01,3.909,3.884,3.884,0,0,0,3.38,1.929h14.15A3.914,3.914,0,0,0,1693.48,878.039Zm-1.54-.881a2.137,2.137,0,0,1-1.87,1.074h-14.15a2.111,2.111,0,0,1-1.85-1.052,2.136,2.136,0,0,1-.01-2.145l7.1-12.206a2.136,2.136,0,0,1,3.7,0l7.09,12.206A2.088,2.088,0,0,1,1691.94,877.158Zm-9.21-11a1.228,1.228,0,0,0-.88,1.228c0.03,0.356.05,0.715,0.08,1.071,0.08,1.353.15,2.68,0.23,4.034a0.826,0.826,0,0,0,.85.791,0.837,0.837,0,0,0,.84-0.818,7.519,7.519,0,0,1,.03-0.819l0.15-2.6c0.03-.562.08-1.124,0.11-1.686a1.331,1.331,0,0,0-.11-0.562A1.131,1.131,0,0,0,1682.73,866.161Z" transform="translate(-1672 -860)" />
                    </svg>
                </div>
                <div class="s_jump_page">
                    <button type="button" class="ss_btn submitForm">Kayıt Ol</button>
                    <a asp-controller="Account" asp-action="Login" class="login_anchor">Oturum Aç</a>
                    <div class="response"></div>
                </div>
            </form>
        </div>
    </section>

    <!--===script start===-->
    <script src="~/user-assets/js/jquery.min.js"></script>
    <script src="~/user-assets/js/bootstrap.min.js"></script>
    <script src="~/user-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/user-assets/js/isotope.pkgd.min.js"></script>
    <script src="~/user-assets/js/swiper.min.js"></script>
    <script src="~/user-assets/js/wow.min.js"></script>
    <script src="~/user-assets/js/script.js"></script>

</body>