<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wissen Akademie ASP.net MVC Eğitimi" />
    <meta name="keywords" content="" />
    <meta name="author" content="Mehmet Salih Atkan, Fatih Goren, Sefa Yilmaz" />
    <meta name="MobileOptimized" content="320" />
    <title>@ViewBag.Title - Asansor Servisi</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/admin-assets/images/logo/favicon.png">
    <!-- Favicon -->
    <!-- CSS -->
    <link href="~/admin-assets/vendors/nouislider/nouislider.min.css" rel="stylesheet">
    <link href="~/admin-assets/css/app.min.css" rel="stylesheet">
    <link href="~/admin-assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/admin-assets/vendors/select2/select2.css" rel="stylesheet">
    <link href="~/admin-assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/devextreme/dist/css/dx.light.css">
    <!-- CSS -->


    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="app">
        <div class="layout is-side-nav-dark">
            <!-- Header START -->
            <partial name="PartialS/_header" />
            <!-- Header END -->
            <!-- Side Nav START -->
            <partial name="PartialS/_left-bar" />
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">
                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <partial name="Partials/_footer" />
                <!-- Footer END -->
            </div>
            <!-- Page Container END -->
            <!-- Search Start-->
            <partial name="Partials/_search" />
            <!-- Search End-->
            <!-- Quick View START -->
            <partial name="Partials/_quick-view" />
            <!-- Quick View END -->

        </div>
    </div>


    <!-- JS -->
    <script src="~/admin-assets/js/vendors.min.js"></script>
    <script src="~/admin-assets/js/app.min.js"></script>
    <script src="~/admin-assets/js/pages/chat.js"></script>
    <script src="~/admin-assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin-assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/admin-assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/admin-assets/vendors/select2/select2.min.js"></script>
    <script src="~/admin-assets/vendors/quill/quill.min.js"></script>
    <script src="~/admin-assets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/admin-assets/js/pages/file-manager.js"></script>
    <script src="~/admin-assets/js/pages/mail.js"></script>
    <script src="~/admin-assets/js/pages/project-list.js"></script>
    <script>
        $('#trigger-loading-1').on('click', function (e) {
            $(this).addClass("is-loading");
            setTimeout(function () { $("#trigger-loading-1").removeClass("is-loading"); }, 4000);
            e.preventDefault();
        });

        $('#trigger-loading-2').on('click', function (e) {
            $(this).toggleClass("is-loading");
            setTimeout(function () { $("#trigger-loading-2").removeClass("is-loading"); }, 4000);
            e.preventDefault();
        });
    </script>
    <script src="~/admin-assets/vendors/chartist/chartist.min.js"></script>
    <script src="~/admin-assets/js/pages/chartist.js"></script>
    <script src="~/admin-assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/admin-assets/js/pages/chartjs.js"></script>
    <script src="~/admin-assets/js/pages/datatables.js"></script>
    <script src="~/admin-assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/admin-assets/js/pages/form-elements.js"></script>
    <script src="~/admin-assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin-assets/js/pages/form-validation.js"></script>
    <script src="~/admin-assets/js/pages/dashboard-crm.js"></script>
    <script src="~/admin-assets/js/pages/dashboard-e-commerce.js"></script>
    <script src="~/admin-assets/js/pages/dashboard-project.js"></script>
    <script src="~/admin-assets/js/pages/dashboard-default.js"></script>
    <script src="~/admin-assets/js/pages/profile.js"></script>
    <script src="~/admin-assets//js/pages/pricing.js"></script>
    <script src="~/admin-assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/admin-assets/js/pages/slider.js"></script>
    <script type="text/javascript" src="~/vendor/exceljs/dist/exceljs.min.js"></script>
    <script type="text/javascript" src="~/vendor/file-saver/dist/fileSaver.min.js"></script>
    <script type="text/javascript" src="~/vendor/jszip/dist/jszip.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/vendor/devextreme/dist/js/dx.all.js"></script>
    <!-- js -->


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
