<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enlink - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="assets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <partial name="Partial/_header"/>
            <!-- Header END -->

            <!-- Side Nav START -->
            <partial name="Partial/_side-nav"/>
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <partial name="Partials/_footer" />
                <!-- Footer END -->
            </div>
            <!-- Page Container END -->

            <!-- Search Start-->
            <partial name="Partials/_search"/>
            <!-- Search End-->

            <!-- Quick View START -->
            <partial name="Partials/_quick-view"/>
            <!-- Quick View END -->

        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="assets/js/vendors.min.js"></script>

    <!-- page js -->
    <!-- Core JS -->
    <script src="assets/js/app.min.js"></script>

</body>

</html>