@{
    ViewBag.Title = "Malzeme ve İşçilik";
}
<div class="container-fluid">
    <!-- Page-Title -->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Ürünler</h4>
                        </div><!--end col-->
                    </div>  <!--end row-->
                </div><!--end card-header-->
                <div class="card-body">
                    <div id="dxGrid"></div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
</div>

@section Scripts
{
    <script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script>
        var dataGrid = null;
        $(() => {
            var url = '../../../api/basketproductapi';
                dataGrid = $('#dxGrid').dxDataGrid({
                    remoteOperations: { paging: true, filtering: true, sorting: true, grouping: true, summary: true, groupPaging: true },
                    dataSource: DevExpress.data.AspNet.createStore({
                        key: 'id',
                        loadUrl: `${url}/get`,
                        updateUrl: `${url}/update`,
                        insertUrl: `${url}/insert`,
                        deleteUrl: `${url}/delete`
                    }),
                    editing: {
                        mode: 'form',
                        allowUpdating: true,
                        allowAdding: true,
                        allowDeleting: true
                    },
                    showColumnLines: true,
                    allowColumnResizing: true,
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    searchPanel: {
                        visible: true,
                        width: 240,
                        placeholder: "Ara..."
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    export: {
                        enabled: true,
                        fileName: `Tüm Ürünler_${parseInt(Math.random() * 1000000000)}`,
                        allowExportSelectedData: true
                    },
                    paging: {
                        pageSize: 20
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [5, 15, 30, 45],
                        showInfo: true
                    },
                    selection: {
                        mode: "multiple"
                    },
                    columns: [
                        {
                            caption: 'Id',
                            dataField: "id",
                            visible: false,
                            allowFiltering: false,
                            formItem: { visible: false }
                        },
                        {
                            caption: 'Ad',
                            dataField: "name"
                        },
                        {
                            caption: 'Birim Fiyat',
                            dataField: "unitPrice",
                            dataType: "number",
                            format: "#.00 ₺"
                        }
                    ]
                }).dxDataGrid("instance");
            });
    </script>
}