@{
    ViewBag.Title = "Kullanıcı Listesi";
}
<div class="container-fluid">
    <!-- Page-Title -->
    
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Kullanıcı Detayları</h4>
                        </div><!--end col-->
                    </div>  <!--end row-->
                </div><!--end card-header-->
                <div class="card-body">
                    <div id="dxGrid"></div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
</div>

@section Scripts
{

    <script>
    $(()=> {
        var userData = null;
        $.ajax({
            url: '@Url.Action("GetUsers","UserApi")',
            method: 'GET',
            success: function(response) {
                console.log(response);
                if (response.isSuccess) {
                    userData = response.data;
                    loadGrid();
                } else {
                    alert(response.errorMessage);
                }
            },
        });
        function loadGrid() {
            $('#dxGrid').dxDataGrid({
                showColumnLines: true,
                allowColumnResizing: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                dataSource: userData,
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Ara..."
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                export: {
                    enabled: true,
                    fileName: `Tüm Kullanıcılar_${parseInt(Math.random() * 1000000000)}`,
                    allowExportSelectedData: true
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 15, 30, 45],
                    showInfo: true
                },
                columns: [
                    {
                        caption: 'Id',
                        dataField: "id",
                        visible: false,
                        allowFiltering: false
                    },
                    {
                        caption: 'Ad',
                        dataField: "name"
                    },
                    {
                        caption: 'Soyad',
                        dataField: "surname"
                    },
                    {
                        caption: 'E-Posta',
                        dataField: "email"
                    }
                ]
            });
        }
    })
    </script>
}