@model FailureViewModel
@{
    ViewData["Title"] = "Arıza Kaydı Sayfası";
}



<div class="signup-area pt-100 pb-70 mt-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12">
                <div class="signup-item">
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <input type="hidden" id="lng" name="lng" />
                        <input type="hidden" id="lat" name="lat" />

                        <div class="row">
                            <div class="col-lg-6 p-4">
                                <div class="form-group">
                                    <label>Arıza Bilgisi:</label>
                                    <input asp-for="FailureName" type="text" class="form-control" placeholder="Arıza bilgisi">
                                    <span asp-validation-for="FailureName" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label>Arıza Açıklama:</label>
                                    <input asp-for="FailureDescription" type="text" class="form-control" placeholder="Arıza açıklama:">
                                    <span asp-validation-for="FailureDescription" class="text-danger"></span>

                                </div>


                                <div class="form-group">
                                    <label>Adres Detay:</label>
                                    <input asp-for="AddressDetail" type="text" class="form-control" placeholder="bina adı -daire no">
                                    <span asp-validation-for="AddressDetail" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-lg-6" id="map">
                                <div id="floating-panel">

                                </div>
                                <div id="map"></div>
                                <p>Haritaden adresinizi işaretleyiniz.</p>
                            </div>

                        </div>


                        <div class="text-center">
                   
                            <button type="submit" class="ss_btn submitForm">Kaydet</button>
                        </div>
                    </form>
                    @*<span>Zten bir hesabınız var mı? <a asp-controller="Account" asp-action="Login">Giriş Yap</a></span>*@
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Sign Up -->

@section Styles{
    #map{
    height: 550px;
    width: 550px;
    border: 1px solid black;
    }
}
@section Scripts{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrJQHntRLm3k8KUd_GFyskV0L-h_T9BxE"></script>

    @*    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@
    <script src="~/user-assets/js/harita.js"></script>

}