<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="Manage" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Anasayfa</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">İş Yönetimi</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Operatörler</a>
                    </li>
                    <li>
                        <a href="">Teknisyenler</a>
                    </li>
                    <li>
                        <a href="">Müşteriler</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="Manage" asp-action="Users">
                    <span class="icon-holder">
                        <i class="anticon anticon-profile"></i>
                    </span>
                    <span class="title">Kullanıcılar</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="Manage" asp-action="BasketProduct">
                    <span class="icon-holder">
                        <i class="anticon anticon-profile"></i>
                    </span>
                    <span class="title">Ürünler</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->