@{
    ViewData["Title"] = "Hakkında";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="ss_about_main">
    <!--===== Section Two Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="ss_about_img">
                    <img class="img-fluid ss_about1" src="https://via.placeholder.com/400x516" alt="team" />
                    <div class="ss_video_img">
                        <img class="img-fluid ss_about2" src="https://via.placeholder.com/580x630" alt="team" />
                        <a class="ss_video_popup" rel="external" href="https://www.youtube.com/embed/hNQFjqDvPhA">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <g>
                                    <path d="M477.606,128.055C443.431,68.863,388.251,26.52,322.229,8.83C256.208-8.862,187.25,0.217,128.055,34.394
									C68.861,68.57,26.52,123.75,8.83,189.772c-17.69,66.021-8.611,134.981,25.564,194.173
									C68.568,443.137,123.75,485.48,189.771,503.17c22.046,5.908,44.417,8.83,66.646,8.83c44.339,0,88.101-11.629,127.529-34.393
									c59.192-34.175,101.535-89.355,119.225-155.377C520.862,256.207,511.781,187.249,477.606,128.055z M477.429,315.333
									c-15.848,59.146-53.78,108.581-106.81,139.197c-53.028,30.617-114.806,38.749-173.952,22.903
									c-59.147-15.848-108.581-53.78-139.198-106.81c-30.616-53.028-38.749-114.807-22.9-173.954
									C50.418,137.523,88.35,88.09,141.379,57.472c35.325-20.395,74.524-30.812,114.249-30.812c19.91,0,39.959,2.618,59.702,7.909
									c59.146,15.848,108.581,53.78,139.197,106.81C485.144,194.408,493.278,256.186,477.429,315.333z" />
                                </g>
                                <g>
                                    <path d="M378.778,231.852l-164.526-94.99c-8.731-5.041-19.155-5.039-27.886-0.001c-8.731,5.04-13.944,14.069-13.944,24.15v189.98
									c0,10.081,5.212,19.109,13.944,24.15c4.365,2.521,9.152,3.78,13.941,3.78c4.79,0,9.579-1.262,13.944-3.781l164.528-94.989
									c8.73-5.042,13.941-14.07,13.941-24.151C392.72,245.92,387.508,236.892,378.778,231.852z M365.452,257.074l-164.527,94.989
									c-0.201,0.117-0.62,0.358-1.236,0c-0.618-0.357-0.618-0.839-0.618-1.071v-189.98c0-0.232,0-0.714,0.618-1.071
									c0.242-0.14,0.453-0.188,0.633-0.188c0.28,0,0.482,0.117,0.605,0.188l164.526,94.99c0.201,0.116,0.618,0.357,0.618,1.071
									C366.071,256.716,365.652,256.958,365.452,257.074z" />
                                </g>
                                <g>
                                    <path d="M413.303,134.44c-31.689-40.938-79.326-68.442-130.698-75.461c-7.283-0.997-14.009,4.106-15.006,11.399
									c-0.995,7.291,4.108,14.009,11.399,15.006c44.512,6.081,85.783,29.909,113.232,65.369c2.626,3.392,6.565,5.168,10.546,5.168
									c2.849,0,5.72-0.909,8.146-2.789C416.741,148.628,417.807,140.259,413.303,134.44z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="ss_ab_right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h3>about us</h3>
                    <h1>Our success which define us who we are</h1>
                    <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <h2 class="ss_name">John Peterson</h2>
                    <p>( Co Founder )</p>
                    <img class="img-fluid pt-2" src="assets/images/ss_signature.png" alt="signature" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ss_team ss_section_sec_bg spacer_top spacer_bottom">
    <!--===== Section Three Start =====-->
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">our experts</h3>
        <h1 class="text-center mb-5">Our special team</h1>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12 offset-lg-0">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://via.placeholder.com/259x270" alt="Image">
                            <div class="team_info">
                                <h2>Nancy Martin</h2>
                                <p>Team Leader</p>
                            </div>
                            <ul class="social_share">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
												c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
												V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
												C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
												c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
												C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
												C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
												c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
												c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
												C204.394,157.263,202.325,160.684,199.021,162.41z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                            <g>
                                                <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
													C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
													c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
													c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
													c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
													c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://via.placeholder.com/259x270" alt="Image">
                            <div class="team_info">
                                <h2>Johnsan Roy</h2>
                                <p>Team Leader</p>
                            </div>
                            <ul class="social_share">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
												c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
												V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
												C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
												c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
												C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
												C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
												c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
												c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
												C204.394,157.263,202.325,160.684,199.021,162.41z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                            <g>
                                                <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
													C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
													c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
													c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
													c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
													c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://via.placeholder.com/259x270" alt="Image">
                            <div class="team_info">
                                <h2>Nikki Rood</h2>
                                <p>Team Leader</p>
                            </div>
                            <ul class="social_share">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
												c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
												V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
												C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
												c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
												C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
												C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
												c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
												c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
												C204.394,157.263,202.325,160.684,199.021,162.41z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                            <g>
                                                <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
													C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
													c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
													c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
													c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
													c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://via.placeholder.com/259x270" alt="Image">
                            <div class="team_info">
                                <h2>John Doe</h2>
                                <p>Team Leader</p>
                            </div>
                            <ul class="social_share">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
												c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
												V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
												C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
												c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g>
                                                <path d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
												C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
												C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
												c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
												c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
												C204.394,157.263,202.325,160.684,199.021,162.41z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                            <g>
                                                <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
													C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
													c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
													c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
													c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
													c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ss_about">
    <!--===== Section Four Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <div class="ss_about_g_left wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                    <h3>profit chart</h3>
                    <h1>Our achievements and growth</h1>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
                    <a href="#" class="ss_btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 offset-md-2">
                <div class="ss_about_three_right ss_box_bg text-center wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s">
                    <img class="img-fluid" src="assets/images/ss_map.png" alt="Image">
                    <p>We are visited in <span>20000</span> places</p>
                </div>
                <div class="ss_about_graph ss_box_bg wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1s">
                    <p class="pb-3">Graph <span><a href="#">+ 4 . 95%</a></span></p>

                    <h2>1,45,123</h2>
                    <!-- Graph HTML -->
                    <div id="graph-wrapper">
                        <div class="graph-info">
                            <a href="javascript:void(0)" class="suppliers">Suppliers</a>
                            <a href="javascript:void(0)" class="seller">Seller</a>

                            <a href="#" id="bars"><span></span></a>
                            <a href="#" id="lines" class="active"><span></span></a>
                        </div>

                        <div class="graph-container">
                            <div id="graph-lines"></div>
                            <div id="graph-bars"></div>
                        </div>
                    </div>
                    <!-- end Graph HTML -->
                </div>
                <div class="ss_about_right ss_box_bg">
                    <div class="ss_about_g_one">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -39 938.75168 938">
                            <g>
                                <path d="M 860.632812 265.542969 C 831.917969 265.496094 805.515625 281.253906 791.917969 306.550781 C 778.324219 331.832031 779.753906 362.554688 795.632812 386.472656 L 685.199219 496.910156 C 664.875 483.347656 639.335938 480.167969 616.304688 488.347656 C 593.265625 496.519531 575.445312 515.078125 568.210938 538.433594 L 423.058594 523.175781 C 420.136719 491.136719 397.785156 464.203125 366.832031 455.429688 C 335.882812 446.648438 302.722656 457.835938 283.40625 483.566406 C 264.097656 509.304688 262.617188 544.261719 279.699219 571.53125 L 125.496094 716.59375 C 92.332031 692.863281 46.578125 698.136719 19.691406 728.800781 C -7.199219 759.457031 -6.464844 805.5 21.386719 835.289062 C 49.238281 865.078125 95.136719 868.890625 127.527344 844.125 C 159.914062 819.359375 168.253906 774.058594 146.804688 739.378906 L 301.003906 594.320312 C 321.226562 608.742188 347.148438 612.566406 370.675781 604.613281 C 394.210938 596.664062 412.488281 577.898438 419.8125 554.167969 L 564.96875 569.425781 C 568.058594 601.660156 590.8125 628.613281 622.074219 637.078125 C 653.34375 645.546875 686.582031 633.753906 705.507812 607.46875 C 724.449219 581.1875 725.117188 545.925781 707.195312 518.949219 L 817.628906 408.511719 C 845.453125 426.988281 881.949219 425.683594 908.398438 405.285156 C 934.839844 384.886719 945.355469 349.914062 934.554688 318.308594 C 923.757812 286.707031 894.03125 265.492188 860.632812 265.542969 Z M 80.730469 827.070312 C 54.890625 827.070312 33.933594 806.125 33.933594 780.277344 C 33.933594 754.4375 54.890625 733.484375 80.730469 733.484375 C 106.570312 733.484375 127.527344 754.4375 127.527344 780.277344 C 127.527344 806.125 106.570312 827.070312 80.730469 827.070312 Z M 345.898438 577.503906 C 320.054688 577.503906 299.101562 556.554688 299.101562 530.707031 C 299.101562 504.867188 320.054688 483.910156 345.898438 483.910156 C 371.738281 483.910156 392.691406 504.867188 392.691406 530.707031 C 392.691406 556.554688 371.738281 577.503906 345.898438 577.503906 Z M 642.257812 608.699219 C 616.417969 608.699219 595.46875 587.75 595.46875 561.902344 C 595.46875 536.0625 616.417969 515.113281 642.257812 515.113281 C 668.101562 515.113281 689.054688 536.0625 689.054688 561.902344 C 689.054688 587.75 668.101562 608.699219 642.257812 608.699219 Z M 860.632812 390.324219 C 834.792969 390.324219 813.839844 369.378906 813.839844 343.535156 C 813.839844 317.691406 834.792969 296.738281 860.632812 296.738281 C 886.476562 296.738281 907.425781 317.691406 907.425781 343.535156 C 907.425781 369.378906 886.476562 390.324219 860.632812 390.324219 Z M 860.632812 390.324219 " style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" />
                                <path d="M 33.933594 405.925781 C 38.074219 405.925781 42.042969 404.28125 44.964844 401.355469 L 174.316406 272 L 249.078125 346.761719 C 255.175781 352.847656 265.046875 352.847656 271.136719 346.761719 L 431.6875 186.210938 L 568.839844 323.363281 C 574.933594 329.453125 584.800781 329.453125 590.898438 323.363281 L 860.632812 53.628906 L 860.632812 78.367188 C 860.632812 86.984375 867.613281 93.964844 876.230469 93.964844 C 884.84375 93.964844 891.828125 86.984375 891.828125 78.367188 L 891.828125 15.972656 C 891.789062 14.105469 891.429688 12.265625 890.738281 10.535156 C 890.527344 9.996094 890.28125 9.480469 890.015625 8.964844 C 889.429688 7.800781 888.695312 6.710938 887.835938 5.726562 C 886.441406 4.003906 884.664062 2.644531 882.628906 1.761719 C 882.480469 1.761719 882.378906 1.582031 882.234375 1.53125 C 880.496094 0.847656 878.644531 0.484375 876.78125 0.453125 C 876.5625 0.46875 876.417969 0.375 876.230469 0.375 L 813.839844 0.375 C 805.222656 0.375 798.242188 7.367188 798.242188 15.972656 C 798.242188 24.585938 805.222656 31.570312 813.839844 31.570312 L 838.574219 31.570312 L 579.867188 290.28125 L 442.714844 153.128906 C 436.625 147.046875 426.75 147.046875 420.65625 153.128906 L 260.109375 313.675781 L 185.351562 238.914062 C 179.253906 232.832031 169.382812 232.832031 163.292969 238.914062 L 22.910156 379.296875 C 18.457031 383.765625 17.113281 390.472656 19.527344 396.300781 C 21.941406 402.128906 27.628906 405.925781 33.933594 405.925781 Z M 33.933594 405.925781 " style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" />
                            </g>
                        </svg>
                    </div>
                    <div class="ss_about_g_two">
                        <h2>$45,456.00</h2>
                        <p>Profit In Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ss_about_sec_four">
    <!--===== Section Five Start =====-->
    <div class="happy_clients">
        <h3 class="ss_h3_center text-center">Projects</h3>
        <h1 class="text-center">Our Achievements</h1>
    </div>
    <div class="ss_about_counter" id="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="counter_div text-center wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                        <img class="img-fluid" src="assets/images/svg/icon7.svg" alt="image" />
                        <div class="ss_count counter-value" data-count="300">0</div>
                        <h2>Projects</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter_div text-center wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                        <img class="img-fluid" src="assets/images/svg/icon8.svg" alt="image" />
                        <div class="ss_count counter-value" data-count="406">0</div>
                        <h2>Suppliers</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter_div text-center wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s">
                        <img class="img-fluid" src="assets/images/svg/icon9.svg" alt="image" />
                        <div class="ss_count counter-value" data-count="981">0</div>
                        <h2>Happy Clients</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter_div text-center wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1s">
                        <img class="img-fluid" src="assets/images/svg/icon10.svg" alt="image" />
                        <div class="ss_count counter-value" data-count="265">0</div>
                        <h2>Awards</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== Section Six Start =====-->
<section class="ss_about_sec_five ss_section_sec_bg spacer_top spacer_bottom ss_testimonial">
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">client feedback</h3>
        <h1 class="text-center mb-4">What client says</h1>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xl-2 mt-4 offset-xl-3 col-lg-3 offset-lg-2 col-md-4 offset-md-0">
                            <div class="ss_testimonial_left wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                                <p><img class="img-fluid" src="https://via.placeholder.com/200x200" alt="image" /></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 mt-4 col-md-8">
                            <div class="ss_testimonial_right wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <h1>Nancy Martin</h1>
                                <h2>Solar Supplier</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xl-2 mt-4 offset-xl-3 col-lg-3 offset-lg-2 col-md-4 offset-md-0">
                            <div class="ss_testimonial_left">
                                <p><img class="img-fluid" src="https://via.placeholder.com/200x200" alt="image" /></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 mt-4 col-md-8">
                            <div class="ss_testimonial_right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <h1>Nancy Martin</h1>
                                <h2>Solar Supplier</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial_nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<section class="ss_newsletter ss_section_sec_bg">
    <!--===== Section Newsletter Start =====-->
    <div class="container-fluid">
        <div class="ss_footer_news ss_box_bg">
            <div class="row">
                <div class="col-md-7">
                    <div class="ss_foot_news_one">
                        <h1>Stay connected with us</h1>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia  magni</p>
                    </div>
                </div>
                <div class="col-md-5 align-self-center">
                    <div class="ss_foot_news_one">
                        <input type="text" placeholder="Enter your email" />
                        <button class="ss_btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--===== Section Newsletter End =====-->
