 <!--===== Section Footer Start =====-->
<section class="ss_section_footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="ss_foot_sec">
                            <a href="index.html"><img class="img-fluid" src="~/user-assets/images/svg/white_logo.svg" alt="logo" /></a>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</p>
                            <ul class="social_share">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g id="XMLID_834_">
                                                <path id="XMLID_835_" d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
												c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
												V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
												C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
												c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M256.064,0h-0.128C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104l98.4-31.456
													C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z M405.024,361.504
													c-6.176,17.44-30.688,31.904-50.24,36.128c-13.376,2.848-30.848,5.12-89.664-19.264C189.888,347.2,141.44,270.752,137.664,265.792
													c-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624,26.176-62.304c6.176-6.304,16.384-9.184,26.176-9.184
													c3.168,0,6.016,0.16,8.576,0.288c7.52,0.32,11.296,0.768,16.256,12.64c6.176,14.88,21.216,51.616,23.008,55.392
													c1.824,3.776,3.648,8.896,1.088,13.856c-2.4,5.12-4.512,7.392-8.288,11.744c-3.776,4.352-7.36,7.68-11.136,12.352
													c-3.456,4.064-7.36,8.416-3.008,15.936c4.352,7.36,19.392,31.904,41.536,51.616c28.576,25.44,51.744,33.568,60.032,37.024
													c6.176,2.56,13.536,1.952,18.048-2.848c5.728-6.176,12.8-16.416,20-26.496c5.12-7.232,11.584-8.128,18.368-5.568
													c6.912,2.4,43.488,20.48,51.008,24.224c7.52,3.776,12.48,5.568,14.304,8.736C411.2,329.152,411.2,344.032,405.024,361.504z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                            <g id="XMLID_822_">
                                                <path id="XMLID_823_" d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
												C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
												C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
												c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
												c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
												C204.394,157.263,202.325,160.684,199.021,162.41z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                            <g>
                                                <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
													C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
													c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
													c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
													c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
													c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="ss_foot_sec">
                            <h2 class="ss_foot_head">Products</h2>
                            <ul>
                                <li><a href="shop.html"><i class="fas fa-circle"></i> Solar Panel</a></li>
                                <li><a href="shop.html"><i class="fas fa-circle"></i> Solar Plates</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Productivity</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Integration</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Life Time</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="ss_foot_sec">
                            <h2 class="ss_foot_head">Useful Links</h2>
                            <ul>
                                <li><a href="#"><i class="fas fa-circle"></i> Suppliers</a></li>
                                <li><a href="service.html"><i class="fas fa-circle"></i> Services</a></li>
                                <li><a href="trade-show.html"><i class="fas fa-circle"></i> Trade Show</a></li>
                                <li><a href="pv-industry.html"><i class="fas fa-circle"></i> Pv Industry</a></li>
                                <li><a href="contact.html"><i class="fas fa-circle"></i> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="ss_foot_sec">
                            <h2 class="ss_foot_head">Company</h2>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-circle"></i> About Us</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Partners</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Terms of Use</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Privacy Policy</a></li>
                                <li><a href="#"><i class="fas fa-circle"></i> Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="ss_foot_sec">
                            <h2 class="ss_foot_head">Contact Us</h2>
                            <ul>
                                <li>Address : 297 Poor House Road Lumberton, NC 28358</li>
                                <li>Email : solar@example.com</li>
                                <li>Phone : 1800-589-652</li>
                                <li>Website : solarexample.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== Section Footer End =====-->