@using Microsoft.AspNetCore.Identity
@using LiftServiceWebApp.Models.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<body>
    <section class="s_header_main">
        <!--===== Section One Start =====-->
        <div class="s_header">
            <div class="container-fluid">
                <div class="ss_header">
                    <!--===== Top Menu =====-->
                    <div class="row">
                        <div class="col-lg-3 col-md-7 col-sm-12 col-12 align-self-center">
                            <div class="ss_logo">
                                <a href="index.html"><img class="img-fluid" src="~/user-assets/images/svg/white_logo.svg" alt="logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-5 col-sm-12 col-12 align-self-center">
                            <div class="ss_menu">
                                <ul>
                                    <li class="ss_menuP">
                                        Home
                                        <ul class="ss_subMenu">
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index2.html">Home 2</a></li>
                                            <li><a href="index3.html">Home 3</a></li>
                                            <li><a href="index4.html">Home 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="trade-show.html">Trade Shows</a></li>
                                    <li><a href="pv-industry.html">Pv Industry</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="service.html">Services</a></li>
                                    <li class="ss_menuP">
                                        Pages
                                        <ul class="ss_subMenu">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="404-page.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                                <div class="head_icon">
                                    <div class="ss_menu_bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    @if (signInManager.IsSignedIn(Context.User))
                                    {
                                        <a asp-controller="Account" asp-action="Logout" class="white_btn">Çıkış Yap</a>


                                        @if (Context.User.IsInRole(RoleNames.Admin))
                                        {
                                            <a asp-area="Admin" asp-controller="Manage" asp-action="Index" class="white_btn">Admin Panel</a>} }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login" class="white_btn">Giriş Yap</a>}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ss_breadcrumb text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1>@ViewBag.Title</h1>
                            <ul>
                                <li><a href="index.html">Home</a><span> / @ViewBag.Title </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--===== Section One End =====-->
    </body>