@using Microsoft.AspNetCore.Identity
@using LiftServiceWebApp.Models.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager







<section class="ss_index_one">
    <!--===== Section One Start =====-->
    <div class="container-fluid">
        <div class="ss_header">
            <!--===== Top Menu =====-->
            <div class="row">
                <div class="col-lg-3 col-md-7 col-sm-12 col-12 align-self-center">
                    <div class="ss_logo">

                        <a asp-controller="Home" asp-action="Index"> <img src="~/user-assets/images/svg/logo1.svg" class="img-fluid" alt="logo" /></a>

                    </div>
                </div>
                <div class="col-lg-9 col-md-5 col-sm-12 col-12 align-self-center">
                    <div class="ss_menu">
                        <ul>
                            <li class="ss_menuP">
                                Home
                                <ul class="ss_subMenu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                    <li><a href="index3.html">Home 3</a></li>
                                    <li><a href="index4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li><a href="trade-show.html">Trade Shows</a></li>
                            <li><a href="pv-industry.html">Pv Industry</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li class="ss_menuP">
                                Pages
                                <ul class="ss_subMenu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <div class="head_icon">
                            <div class="ss_cart_ico">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 510">
                                    <g>
                                        <path d="M153,408c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S181.05,408,153,408z M0,0v51h51l91.8,193.8L107.1,306
											c-2.55,7.65-5.1,17.85-5.1,25.5c0,28.05,22.95,51,51,51h306v-51H163.2c-2.55,0-5.1-2.55-5.1-5.1v-2.551l22.95-43.35h188.7
											c20.4,0,35.7-10.2,43.35-25.5L504.9,89.25c5.1-5.1,5.1-7.65,5.1-12.75c0-15.3-10.2-25.5-25.5-25.5H107.1L84.15,0H0z M408,408
											c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S436.05,408,408,408z" />
                                    </g>
                                </svg>
                                <div class="ss_cart_bg">
                                    <div class="ss_cart_list">
                                        <a href="#">
                                            <div class="ss_cart_img">
                                                <img class="img-fluid" src="~/user-assets/images/svg/icon1.svg" alt="image" />
                                            </div>
                                            <div class="ss_cart_content">
                                                Solar Panel
                                                <span>$12 - $45</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="ss_cart_img">
                                                <img class="img-fluid" src="~/user-assets/images/svg/icon2.svg" alt="image" />
                                            </div>
                                            <div class="ss_cart_content">
                                                Solar Water
                                                <span>$12 - $45</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="ss_cart_img">
                                                <img class="img-fluid" src="~/user-assets/images/svg/icon3.svg" alt="image" />
                                            </div>
                                            <div class="ss_cart_content">
                                                Domestic Solar
                                                <span>$12 - $45</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="ss_cart_img">
                                                <img class="img-fluid" src="~/user-assets/images/svg/icon4.svg" alt="image" />
                                            </div>
                                            <div class="ss_cart_content">
                                                Solar Wind
                                                <span>$12 - $45</span>
                                            </div>
                                        </a>
                                    </div>
                                    <p class="ss_cart_total">Total: <span>$150.00</span></p>
                                    <p class="ss_cart_btn">
                                        <span><a href="cart.html" class="ss_btn">View Cart</a></span>
                                        <span><a href="checkout.html" class="ss_btn">Checkout</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="ss_search_main">
                                <svg class="ss_search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.213 485.213">
                                    <g>
                                        <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324
											c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z" />
                                        <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951
											C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46
											c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465
											C318.424,257.208,257.206,318.416,181.956,318.416z" />
                                        <path d="M75.817,181.955h30.322c0-41.803,34.014-75.814,75.816-75.814V75.816C123.438,75.816,75.817,123.437,75.817,181.955z" />
                                    </g>
                                </svg>
                                <form class="ss_search_input">
                                    <input type="text" placeholder="Search here" />
                                </form>
                            </div>
                            <div class="ss_menu_bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            @if (signInManager.IsSignedIn(Context.User))
                            {
                <a asp-controller="Account" asp-action="Logout">Çıkış Yap</a> @*var currentUser = userManager.FindByNameAsync(User.Identity.Name).Result;

                                    @if (userManager.IsInRoleAsync(currentUser, RoleNames.Admin).Result)
                                    {
                                    <a href="#">Admin Panel <i class="fal fa-long-arrow-right"></i></a>
                                    }*@

                                @if (Context.User.IsInRole(RoleNames.Admin))
                                {
                <a href="#">Admin Panel <i class="fal fa-long-arrow-right"></i></a>} }
                            else
                            {
                        <a asp-controller="Account" asp-action="Login" class="white_btn">Giriş Yap</a>}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--===== Section One End =====-->