@using Microsoft.AspNetCore.Identity
@using LiftServiceWebApp.Models.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{   ViewBag.Title = "Ödeme Sayfası";
}
<body>
    <section class="ss_pv_one spacer_top">
        <!--===== Section Pv Industry Start =====-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ss_pv_left spacer_bottom">
                        <h3>work process</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>