@model PaymentViewModel
@using Microsoft.AspNetCore.Identity
@using LiftServiceWebApp.Models.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{ ViewBag.Title = "Ödeme Sayfası";
}
<body>
    <section class="ss_pv_one spacer_top">
        <!--===== Section Pv Industry Start =====-->
        <div class="container-fluid">
            <div class="user-actions mb-40">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <form asp-action="Index" method="post">
                <input asp-for="Installment" type="hidden" id="hdInstallment" value="1" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="billing-details">
                            <h3 class="title">Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="CardModel.CardHolderName"></label>
                                        <input asp-for="CardModel.CardHolderName" id="txtCardNumber" />
                                        <span asp-validation-for="CardModel.CardHolderName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="CardModel.CardNumber"></label>
                                        <input asp-for="CardModel.CardNumber" id="txtCardNumber" />
                                        <span asp-validation-for="CardModel.CardNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="CardModel.ExpireMonth"></label>
                                        <input asp-for="CardModel.ExpireMonth" />
                                        <span asp-validation-for="CardModel.ExpireMonth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="CardModel.ExpireYear"></label>
                                        <input asp-for="CardModel.ExpireYear" />
                                        <span asp-validation-for="CardModel.ExpireYear" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="CardModel.Cvc"></label>
                                        <input asp-for="CardModel.Cvc" />
                                        <span asp-validation-for="CardModel.Cvc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-details mt-md-gap-50">
                            <h3 class="title">Ödeme Seçenekleri</h3>
                            <div class="order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Taksit Sayısı</th>
                                            <th>Ödenecek Tutar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-installment">
                                    </tbody>
                                </table>
                            </div>
                            <div class="payment-box mt-30">
                                <input type="submit" class="main-btn" value="Ödeme Yap" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    @section Scripts
{
        <script>
    $(document).ready(function() {
        console.log("Jquery OK");
    });

    $("#txtCardNumber").keyup(function() {
        var bin = $(this).val();
        if (bin.length >=6) {
            //console.log(bin);
            var model = {
                binNumber: bin
            };
            $.ajax({
                url: '@Url.Action("CheckInstallment", "Payment")',
                type: "POST",
                data: model,
                dataType: "json",
                error: function(request, status, error) {
                    //console.log(request);
                },
                success: function(response) {
                    //console.log(response);
                    fillInstallments(response.installmentPrices);
                }
            });
        }
    });

    function fillInstallments(installmentPrices) {
        $("#table-installment").empty();
        for (var i = 0; i < installmentPrices.length; i++) {
            var data = installmentPrices[i];
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var radio = document.createElement("input");
            var label = document.createElement("label");

            $(radio).attr("type", "radio").attr("name", "install-radio").attr("data", data.installmentNumber).attr("id","rd"+i).appendTo(td1);
            $(label).attr("for", "rd" + i).html(data.installmentNumber).appendTo(td1);

            $(radio).on('change', function() {
                $("#hdInstallment").val($(this).attr("data"));
            });

            if (i == 0) {
                $(radio).prop('checked',true);
            }

            $(td2).html(data.price);
            $(td3).html(data.totalPrice);

            $(tr).append(td1).append(td2).append(td3).appendTo($("#table-installment"));
        }
    }
        </script>
    }

    @section Styles
{
        <style>
            input {
                border: solid 1px #e3eeff;
                height: 50px;
                padding: 0 15px;
            }
        </style>
    }
</body>